.AboutTeamContainer {
  display: grid;
  grid-template-columns: 10% 50% 30% 10%;
  grid-template-rows: 100%;
  grid-column-gap: 1%;
  grid-row-gap: 0%;
  justify-items: stretch;
  align-items: stretch;
}

.AboutTeamTextFont {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1;
  text-align: center;
}

.AboutTeamSectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 80% 5%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  justify-items: stretch;
  align-items: stretch;
}

.AboutTeamCardContainer { 
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.AboutTeamCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 340px;
  padding: 0.7rem;
  margin: 1%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(95, 95, 95, 0.1) 6px 12px 24px;
}

.AboutTeamCard:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: rgba(95, 95, 95, 0.2) 6px 12px 24px;
}

.AboutTeamImgBox {
  max-width: 140px;
  max-height: 140px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 5px;
}

.AboutTeamImgPerson {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.AboutTeamCardContentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1%;
}

.AboutTeamPersonName {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10%;
}

.AboutTeamPersonInfo {
  font-size: 11px;
  line-height: 15px;
}

.AboutTeamSectionHead{
  font: bold;
  font-size: 60px;
  line-height: 70px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.AboutTeamSectionBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.AboutTeamSectionBody::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  color: #000;
}

.AboutTeamSectionBodyText {
  width: 90%;
  text-align: justify;
  font-size: 1rem;
  margin-bottom: 2%;
}