.holder {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
}

.clockContainer {
  display: grid;
  margin-top: 10%;
  grid-template-columns: 100%;
  grid-template-rows: 30% 30%;
  justify-items: center;
  align-items: center;
}

.clockHolder{
  display: flex;
	width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
	font: 40px/1.5 'Open Sans Condensed',sans-serif;
	text-align: center;
	letter-spacing:-3px;
}

.labelHolder{
  display: flex;
  width: 60%;
  height: auto;
	font: 30px/2.0 'Open Sans Condensed',sans-serif;
	text-align: center;
}

.textHolder {
  height: auto;
  width: 80%;
  margin: auto;
}

.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.5em;
}

.digit{
	position: absolute;
	display: block;
	width: 1.5em;
	background-color: #444;
	border-radius: 0.2em;
	text-align: center;
	color:#fff;
	letter-spacing: -1px;
}

.digit.static{
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
	background-image: linear-gradient(to bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
}


.donationContainer {
  background-color: #f7fafc; 
  border-radius: 0.5rem; 
  padding: 2rem;
  margin-bottom: auto;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Shadow */
  max-width: 28rem;
  width: 100%;
  text-align: center;
}


@media (max-width: 900px) {

  .labelHolder {
    width: 80%;
  }
  
  .donationContainer{
    width: 90%;
  }

  .holder {
    grid-template-columns: 100%; /* Single column layout for mobile */
    grid-template-rows: auto; /* Allow rows to adjust based on content */
    grid-column-gap: 0px; /* No gap between columns */
  }
}
