.holder {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
}

.clockContainer {
  display: grid;
  margin-top: 10%;
  grid-template-columns: 100%;
  grid-template-rows: 30% 30%;
  justify-items: center;
  align-items: center;
}

.clockHolder{
  display: flex;
	width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
	font: 40px/1.5 'Open Sans Condensed',sans-serif;
	text-align: center;
	letter-spacing:-3px;
}

.labelHolder{
  display: flex;
  width: 60%;
  height: auto;
	font: 30px/2.0 'Open Sans Condensed',sans-serif;
	text-align: center;
}

.textHolder {
  height: auto;
  width: 80%;
  margin: auto;
}

.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.5em;
}

.digit{
	position: absolute;
	display: block;
	width: 1.5em;
	background-color: #444;
	border-radius: 0.2em;
	text-align: center;
	color:#fff;
	letter-spacing: -1px;
}

.digit.static{
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
	background-image: linear-gradient(to bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
}